* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* z-index: -1; */
}

body {
    height: 100%;
    background-color: #f8f8f8;
}

.signup-box {
    height: 600px;
    width: 900px;
    margin: 5% auto;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); */
}

.signup-box .left-box {
    height: 600px;
    width: 450px;
    /* border: 2px solid red; */
    padding: 30px 15px;
    font-size: 1.3rem;
    text-align: justify;
}

.signup-box .right-box {
    position: relative;
    height: 600px;
    width: 450px;
    /* border: 2px solid blue; */
    /* background-color: #2185C5; */
}

.signup-box .right-box .form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 40px 10px 30px 10px;
    background-color: #f0f0f0;
    border-radius: 50px;
    height: auto;
}

.signup-box .left-box h1 {
    text-align: center;
    font-size: 2rem;
}

.signup-box .left-box h2 {
    text-align: center;
    font-size: 1.9rem;
}

.signup-box .left-box p {
    font-size: 1.5rem;
}

.signup-box .left-box h2+p,
.signup-box .left-box h2+p+p {
    text-align: center;
}

.signup-box .right-box img {
    z-index: 1;
    position: absolute;
    width: 130px;
    border-radius: 50%;
    margin: 0 auto;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-box .right-box .form-container input[type='email'] {
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 4px;
    width: 90%;
    height: 32px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #aaa;
    /* font-family: 400; */
    font-size: 15px;
    transition: 0.2s ease;
}

.signup-box .right-box .form-container input[type='submit'] {
    display: block;
    margin: 1px auto;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    background-color: green;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
}

.signup-box .right-box .form-container input[type='submit']:hover {
    transform: scale(1.03);
    transition: 0.2s ease;
    color: rgba(255, 255, 255, 1);
}

.signup-box .right-box .form-container h1 {
    text-align: center;
    font-weight: 400;
}

/*
input[type='email'] {
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type='submit'] {
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background-color: #68a7ca;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

input[type='submit']:hover,
input[type='submit']:focus {
    background-color: #8dbdd8;
    transition: 0.2s ease;
}

.form {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

#signup-box {
    position: relative;
    margin: 5% auto;
    height: 220px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    width: 300px;
} */