{% extends 'base.html' %}
{% load static %}

{% block title %}
Forgot Password
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'webapp/css/forgotpass.css' %}">
{% endblock style %}

{% block body %}

<section class="forgotpass">
    <div class="forgotpass-form-container">
        <form method="post">
            {% csrf_token %}
            <label for="email">Please enter your email</label>
            <input type="email" name="email" required id="email" />
            <input type="submit" value="Submit">
        </form>
    </div>
</section>

{% endblock body %}