{% extends 'base.html' %}
{% load static %}

{% block title %}
HomePage
{% endblock title %}

{% block body %}
<center style="margin-top: 50px; padding: 20px 0; background-color:#f5f5f5">
    <h1>Welcome to <strong>Home</strong> Page</h1>
    <h3>If you are seeing this then this page is not complete yet...!</h3>

    <h6 style="margin-top:50px; text-decoration: underline;">
        <strong>
            Please use navigation bar for navigating to other pages
        </strong>
    </h6>
</center>
{% endblock body %}