{% extends 'webapp/webapp_base.html' %}
{% load static %}
{% block title %}
Login
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}

{% block script %}

<!-- <script>
	alert("Conencted")
</script> -->

<script language="JavaScript">
	function Validate() {
		if (document.frm1.email.value == "") {
			alert("Invaild mail id");
			window.location = "http://127.0.0.1:8000/login";
			return false;
		} else {
			return true;
		}

	}
</script>

{% endblock script %}
{% block body %}

<!-- First Option -->
<div id="login-box">
	<div class="left-box">

		<form method="post" name="frm1">
			{% csrf_token %}
			<h1>Log In</h1>

			<input type="email" name="email" placeholder="Email">
			<input type="password" name="password" placeholder="Password">

			<input type="submit" value="Log In" onClick="return Validate()">

		</form>
		<!-- <div class="left-bottom d-flex">
			Forgot your Password?
			<a href="forgotpass">Click Here!</a>
			<br>
			<a href="signup">
				<button>Sign Up</button>
			</a>
		</div> -->
	</div>



	<div class="right-box">
		<span class="signinwith">
			Log in with
		</span>
		<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }">
                <button class="social google">Log in with Google</button>
            </a>
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
			<button class="social facebook">Log in with Facebook</button>
		</a>
		<a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }">
                <button class="social linkedin">Log in with Linkedin</button>
            </a>
        </div>

        <div class="or">
            OR
        </div>
</div>
{% endblock body %}

<!-- Previous HTML -->

<!-- 
<html>
<head>
	<title>Login</title>
</head>

<script language="JavaScript">
function Validate(){
if(document.frm1.email.value=="")
{
alert("Invaild mail id");
window.location="http://127.0.0.1:8000/login";
return false;
}
else
{
    return true;
}

}
</script>
  
<body>
	<form method="post" name="frm1"  >
		{% csrf_token %}
		Email: <input type="email" name="email" >
		Password: <input type="password" name="password">
		<input type="submit" value="Login" onClick="return Validate()">
		<br><br>
	<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }">Login Using Google</a><br> 
	<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a><br>
		<a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }">Login with Linkedin</a> 
	<br><br>
	</form>
	New User? <a href="signup"><button>Register</button></a>
	<br><a href="forgotpass"><button>Forgot Password</button></a>

	
</body> 
-->