{% extends 'base.html' %}

{% load static %}

{% block title %}
Login
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'webapp/css/login.css' %}">
{% endblock style %}

{% block script %}

<!-- <script>
	alert("Conencted")
</script> -->

<script language="JavaScript">
	function Validate() {
		if (document.frm1.email.value == "") {
			alert("Invaild mail id");
			window.location = "http://127.0.0.1:8000/login";
			return false;
		} else {
			return true;
		}

	}
</script>

{% endblock script %}

{% block body %}

<!-- <div class="image-container"></div> -->
<div class="login-box row">
	<div class="left-box col-12 col-md-6">
		<form method="post" name="frm1">
			{% csrf_token %}
			<h1>Log In</h1>
			<p>Email ID</p>
			<input type="email" name="email" placeholder="Enter Email">
			<p>Password</p>
			<input type="password" name="password" placeholder="Enter Password">

			<input type="submit" value="Log In" onClick="return Validate()">
		</form>
		<hr>
		<div class="left-bottom">
			<div class="row">
				<div class="col-7 forgot-pass">
					Forgot your Password?
					<br>
					<a href="forgotpass">Click Here!</a>
				</div>
				<div class="col-5 signup-button">
					<a href="signup">
						<button class="btn-primary">Sign Up</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="right-box col-12 col-md-6">
		<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }">            
			<button class="social google">
				<i class="fa fa-google" aria-hidden="true"></i> 
				Log in with Google
			</button>
		</a>

		<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
			<button class="social facebook">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				Log in with Facebook
			</button>
		</a>
		<a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }">
			<button class="social linkedin">
				<i class="fa fa-linkedin" aria-hidden="true"></i> 
				Log in with Linkedin
			</button>
		</a>
	</div>
	<div class="or d-none d-md-block">
		OR
	</div>

</div>

{% endblock body %}

<!-- Previous HTML -->

<!--
<html>
<head>
	<title>Login</title>
</head>

<script language="JavaScript">
function Validate(){
if(document.frm1.email.value=="")
{
alert("Invaild mail id");
window.location="http://127.0.0.1:8000/login";
return false;
}
else
{
    return true;
}

}
</script>

<body>
	<form method="post" name="frm1"  >
		{% csrf_token %}
		Email: <input type="email" name="email" >
		Password: <input type="password" name="password">
		<input type="submit" value="Login" onClick="return Validate()">
		<br><br>
	<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }">Login Using Google</a><br>
	<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a><br>
		<a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }">Login with Linkedin</a>
	<br><br>
	</form>
	New User? <a href="signup"><button>Register</button></a>
	<br><a href="forgotpass"><button>Forgot Password</button></a>


</body>
-->