{% extends 'base.html' %}
{% load static %}
{% block title %}
Signup
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'webapp/css/signup.css' %}">
{% endblock style %}

{% block script %}
<script language="JavaScript">
	function Validate() {
		if (document.frm2.email.value == "") {
			alert("Invaild mail id");
			window.location = "http://127.0.0.1:8000/signup";
			return false;
		} else {
			return true;
		}

	}
</script>
{% endblock script %}

{% block body %}

<div class="signup-box row">
	<div class="left-box col-6 disabled-text">
		<h1>Intelligent Contact Manager System</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sequi maxime nostrum quam repellendus ipsum
			facere delectus reiciendis porro quidem.</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo quod sunt incidunt dolore animi pariatur
			itaque laborum, eligendi est aperiam, non vitae esse tenetur ratione eius delectus magni, voluptates
			dignissimos?</p>

		<h2>We Also deliver to you</h2>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo excepturi numquam, omnis iure nulla
			voluptas sapiente distinctio expedita dolores et quo non ex accusamus voluptate! Consectetur animi eligendi
			incidunt aliquid?</p>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum voluptatum, dolor repellat quaerat facere
			harum voluptatibus </p>
	</div>
	<div class="right-box col-6">
		<img src="{% static 'webapp/img/signup/black-square.png' %}" alt="sign-up-form-logo">

		<div class="form-container">

			<form method="post" name="frm2">
				{% csrf_token %}
				<h1 class="disabled-text">Sign Up</h1>
				<input type="email" name="email" placeholder="Email">
				<input type="submit" onClick="return Validate()">
			</form>
		</div>
	</div>
</div>

{% endblock body %}

<!-- PREVIOUS HTML -->

<!--
<html>
<head>
	<title>Sign Up</title>
</head>
<script language="JavaScript">
function Validate(){
if(document.frm2.email.value=="")
{
    alert("Invaild mail id");
    window.location="http://127.0.0.1:8000/signup";
    return false;
}
else
{
    return true;
}

}
</script>
<body>
	<form method="post" name="frm2">
		{% csrf_token %}
		Email: <input type="email" name="email">
		<input type="submit" onClick="return Validate()">
	</form>
</body>
-->