{% extends 'webapp/webapp_base.html' %}
{% load static %}
{% block title %}
Signup
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock style %}

{% block script %}
<script language="JavaScript">
	function Validate() {
		if (document.frm2.email.value == "") {
			alert("Invaild mail id");
			window.location = "http://127.0.0.1:8000/signup";
			return false;
		} else {
			return true;
		}

	}
</script>
{% endblock script %}

{% block body %}
<div id="signup-box">
	<div class="form">
		<form method="post" name="frm2">
			{% csrf_token %}
			<h1>Sign Up</h1>
			<input type="email" name="email" placeholder="Email">
			<input type="submit" onClick="return Validate()">
		</form>
	</div>
</div>
{% endblock body %}

<!-- Previous HTML -->

<!-- <html>
<head>
	<title>Sign Up</title>
</head>
<script language="JavaScript">
function Validate(){
if(document.frm2.email.value=="")
{
    alert("Invaild mail id");
    window.location="http://127.0.0.1:8000/signup";
    return false;
}
else
{
    return true;
}

}
</script>
<body>
	<form method="post" name="frm2">
		{% csrf_token %}
		Email: <input type="email" name="email">
		<input type="submit" onClick="return Validate()">
	</form> 
</body> -->