{% extends 'base.html' %}
{% load static %}

{% block title %}
Set Password
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'webapp/css/verify.css' %}">
{% endblock style %}

{% block body %}

<div id="verify-box">
	<div class="verify-form">
		<h1>Set password</h1>
		<form method="post">
			{% csrf_token %}
			<input type="text" name="fname" placeholder="First Name">
			<input type="text" name="lname" placeholder="Last Name">
			<input type="password" name="password1" placeholder="New Password">
			<input type="password" name="password2" placeholder="Repeat Password">
			<input type="submit">
		</form>
	</div>
</div>

{% endblock body %}