{% extends 'base.html' %}
{% load static %}

{% block title %}
Set Password
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'webapp/css/verify.css' %}">
{% endblock style %}

{% block body %}

<section class="verify-box">
	<div class="verify-form">
		<h1>Set password</h1>
		<form method="post">
			{% csrf_token %}
			<label for="fname">First Name</label>
			<input type="text" name="fname" id="fname">
			<label for="lname">Last Name</label>
			<input type="text" name="lname" id="lname">
			<label for="password1">Enter Password</label>
			<input type="password" name="password1" id="password1">
			<label for="password2">Re-enter Password</label>
			<input type="password" name="password2" id="password2">
			<input type="submit">
		</form>
	</div>
</section>

{% endblock body %}