{% extends 'webapp/webapp_base.html' %}
{% load static %}
{% block title %}
Set Password
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/verify.css' %}">
{% endblock style %}

{% block body %}
<div id="verify-box">
	<div class="verify-form">
		<h1>Set password</h1>
		<form method="post">
			{% csrf_token %}
			<input type="text" name="fname" placeholder="First Name">
			<input type="text" name="lname" placeholder="Last Name">
			<input type="password" name="password1" placeholder="New Password">
			<input type="password" name="password2" placeholder="Repeat Password">
			<input type="submit">
		</form>
	</div>
</div>
{% endblock body %}

<!-- Previous HTML -->

<!-- <html>

<head>
	<title>Set Password</title>
</head>

<body>
	<h1>Welcome! Please set password</h1>
	<form method="post">
		{% csrf_token %}
		First Name: <input type="text" name="fname">
		Last Name: <input type="text" name="lname"><br>
		New Password: <input type="password" name="password1">
		Repeat Password <input type="password" name="password2"><br>
		<input type="submit">
	</form>
</body> -->