{% extends 'base.html' %}
{% load static %}

{% block title %}
View Contacts
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'webapp/css/view.css' %}">
{% endblock style %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="{% static 'webapp/js/view.js' %}"></script>
{% endblock script %}

{% block body %}

<section id="contact-options">
    <div class="contact-options-container">
        <div class="layout-style">
            <button class="btn" onclick="listView()"><i class="fa fa-bars"></i> List</button>
            <button class="btn active" onclick="gridView()"><i class="fa fa-th-large"></i> Grid</button>
        </div>
        <div class="filters">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Group
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
        </div>
        <div class="add-contact">
            <a href="addcontact">
                <button class="btn btn-success">Add Contact</button>
            </a>
        </div>
        <div>

        </div>

    </div>
</section>

<section class="contact-view">

</section>

{% endblock body %}

<!-- Previous HTML -->

<!-- 
<centre><h4>VIEW CONTACTS</centre></h4>
{% for Contact in cont_instance %}
	*{{Contact.full_name}}
	{{Contact.first_name}}
	{{Contact.middle_name}}
	{{Contact.last_name}}
	{{Contact.company}}
	{{Contact.designation}}
	{{Contact.email}}
	{{Contact.phone}}
	{{Contact.location}}
	{{Contact.gender}}
	{{Contact.title}}
	{{Contact.dept}}
	{{Contact.university}}
	{{Contact.degree}}
	{{Contact.passing_year}}
	{{Contact.college}}
	{{Contact.linkedin_url}}
	{{Contact.facebook_url}}
	{{Contact.skype_id}}
	{{Contact.industry}}
	{{Contact.country}}
	{{Contact.state}}
	{{Contact.zip_code}}
	{{Contact.key_skills}}
	{{Contact.total_exp}}
	{{Contact.years_in_business}}
	{{Contact.cin_no}}
	{{Contact.turnover}}
	{{Contact.incorporation_date}}
	{{Contact.employees}}
	{{Contact.ctc}}

<br><br><hr>
{% endfor %} 
-->