:root {
    font-size: 12px;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #f8f8f8;
    padding-bottom: 90px !important;
    font-family: 'Montserrat', sans-serif;
}

.import-form-container {
    background-color: #f0f0f0;
    width: 40%;
    margin: 50px auto;
    padding: 20px 30px;
    text-align: center;
    overflow: auto;
}

.import-form-container p {
    margin-bottom: 0;
}

.import-form-container p.heading {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.import-form-container p.from-file {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.6rem;
}

.import-form-container .form-container form {
    display: flex;
    justify-content: space-around;
}

.import-form-container .form-container input[type='submit'] {
    height: 30px;
    width: 20%;
    background-color: #28a745;
    border: none;
    outline: none;
    border-radius: 20px;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

.import-form-container .form-container input[type='submit']:hover {
    background-color: #238f3c;
    transform: scale(1.02);
}

.import-form-container .form-container input[type='submit']:focus {
    border: 2px solid #238f3c;
}

@media screen and (max-width:1420px) {
    .import-form-container {
        width: 50%;
    }
}

@media screen and (max-width:1200px) {
    .import-form-container {
        width: 60%;
    }
}

@media screen and (max-width:992px) {
    .import-form-container {
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    .import-form-container {
        width: 80%;
    }
}

@media screen and (max-width:576px) {
    .import-form-container {
        width: 90%;
    }
}