:root {
    font-size: 12px;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url(../img/login-css/grey-gradient-2.jpg);
    height: 100%;
    background-size: cover;
    background-color: #fff;
    background-blend-mode: luminosity;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-bottom: 90px !important;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    color: #fff;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    display: block;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    background-color: green;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    border-radius: 20px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    overflow: auto;
}

input[type='submit']:hover {
    color: rgba(255, 255, 255, 1);
    transform: scale(1.02);
}

hr {
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fff;
    width: 90%;
}

p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}

.login-box {
    height: fit-content;
    width: 40%;
    margin: 180px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    overflow: auto;
}

.login-box .left-box {
    height: auto;
    width: 300px;
    padding: 30px 15px;
    background-color: rgba(0, 0, 0, 0.8);
}

.login-box .right-box {
    height: auto;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box .left-box .left-bottom {
    color: #fff;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.login-box .left-box .left-bottom .signup-button button {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    overflow: auto;
}

.login-box .left-box .left-bottom .signup-button button:hover {
    transform: scale(1.03);
    transition: all 0.2s ease;
}

.right-box a {
    width: 98%;
    margin: 15px auto;
}

.right-box a:hover {
    text-decoration: none;
}

.right-box a button {
    text-transform: uppercase;
    display: block;
    width: 90%;
    padding: 15px 10px 15px 10px;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
}

.right-box a button i {
    font-size: 1.3em;
    padding-right: 10px;
}

.right-box a button.google {
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
}

.right-box a button.google:hover {
    transform: scale(1.03);
    text-decoration: none;
    transition: all 0.2s ease;
}


.right-box a button.facebook {
    background-color: #32508e;
    border: 1px solid #32508e;
}

.right-box a button.facebook:hover {
    transform: scale(1.03);
    transition: all 0.2s ease;
}

.right-box a button.linkedin {
    background-color: #55acee;
    border: 1px solid #55acee;
}

.right-box a button.linkedin:hover {
    transform: scale(1.03);
    text-decoration: none;
    transition: all 0.2s ease;
}

.right-box i {
    color: white;
    height: 10px;
}

.disabled-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width:1428px) {
    .login-box {
        width: 50%;
    }
}

@media (max-width:1200px) {
    .login-box {
        width: 60%;
    }
}

@media (max-width:992px) {
    .login-box {
        width: 70%;
    }
}

@media (max-width:768px) {
    .login-box {
        width: 80%;
    }
}

@media (max-width:576px) {
    .login-box {
        width: 90%;
    }
}