@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Open+Sans:wght@300;400&display=swap');

:root {
    font-size: 12px;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: #f8f8f8;
    padding-bottom: 90px !important;
    font-family: 'Montserrat', sans-serif;
}

/* Section - Contact Options */

.contact-options .contact-options-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding-left: 70px;
    padding-right: 70px;
}

.contact-options .contact-options-container .left-aligned {
    display: flex;
}

.contact-options .contact-options-container .left-aligned #btnContainer {
    align-self: center;
    margin-bottom: 2px;
}

.contact-options .contact-options-container .right-aligned {
    display: flex;
}

.contact-options .contact-options-container .layout-style {
    display: inline-block;
}

.contact-options .contact-options-container .page {
    align-self: center;
    margin: 5px 10px;
}

.contact-options .contact-options-container .filters {
    align-self: center;
    margin: 5px 10px;
}

.contact-options .contact-options-container .right-aligned .form-inline {
    align-self: center;
    align-content: center;
    margin: 5px 10px;
}

.contact-options .contact-options-container .right-aligned .form-inline .btn {
    margin: 0 auto;
}

.contact-options .contact-options-container .right-aligned .add-contact {
    align-self: center;
    margin: 5px 10px;
}

.contact-options .contact-options-container .right-aligned .add-contact button {
    border-radius: 20px;
    padding: 7px 20px;
    font-weight: 500;
    transition: all .1s ease-in-out;
}

.contact-options .contact-options-container .right-aligned .add-contact button:hover {
    transform: scale(1.02);
    transition: all .1s ease-in-out;
}

/* Section - Contact View */

.contact-view .view-group {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    padding: 0 50px;
}

.contact-view .view-group .item {
    padding: 10px 10px;
}

.list-group-item {
    background: none;
}

.contact-view .view-group .item.list-group-item {
    float: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 60%;
    padding: 0;
    border: 0;
}

.contact-view .view-group .item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " ";
}

.contact-view .view-group .item.list-group-item:after {
    clear: both;
}

.contact-view .view-group .item .card-view {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
    padding: 5px 10px;
    height: auto;
    position: relative;
    width: auto;
    overflow: auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.contact-view .view-group .item .card-view hr {
    margin: 0.5rem 0;
}

.contact-view .view-group .item .card-view:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .4);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.contact-view .view-group .item .card-view .contact-name,
.contact-view .view-group .item .card-view .name-icon {
    font-size: 1.8rem;
    font-weight: 500;
}

.contact-view .view-group .item .card-view .contact-email,
.contact-view .view-group .item .card-view .email-icon {
    font-size: 1.6rem;
    font-weight: 300;
}

.contact-view .view-group .item .card-view .contact-phone,
.contact-view .view-group .item .card-view .phone-icon {
    font-size: 1.5rem;
    padding-left: 2px;
}

.contact-view .view-group .item .card-view .contact-name-container,
.contact-view .view-group .item .card-view .contact-email-container,
.contact-view .view-group .item .card-view .contact-phone-container {
    display: flex;
    line-height: 1.4;
}

.contact-view .view-group .item .card-view .contact-name-container i,
.contact-view .view-group .item .card-view .contact-email-container i,
.contact-view .view-group .item .card-view .contact-phone-container i {
    align-self: center;
    font-size: 1.4rem;
    margin-right: 7px;
    color: #707070;
}

.contact-view .view-group .item .card-view .contact-name-container i:hover,
.contact-view .view-group .item .card-view .contact-email-container i:hover,
.contact-view .view-group .item .card-view .contact-phone-container i:hover {
    color: black;
    cursor: pointer;
}

.contact-view .view-group .item .card-view .action-icons {
    margin-top: 7px;
    float: right;
    padding-right: 10px;
}

.contact-view .view-group .item .card-view .action-icons i {
    font-size: 1.8rem;
    margin-left: 1.5rem;
}